
.dashboard-container {
  display: flex;
  min-height: 100vh;
  background: #f8fafc;
}


.main-content {
  flex: 1;
  min-height: 100vh;
  transition: margin-left 0.3s ease;
}


.main-content.sidebar-closed {
  margin-left: 70px;
}


.main-content.sidebar-open {
  margin-left: 250px;
}


.content {
  padding: 25px;
}


.dashboard-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dashboard-subtitle {
  color: #6b7280;
  margin-bottom: 30px;
}