.table-wrapper {
  width: 100%;
  max-width: 100%;
  max-height: 500px;

  overflow-x: auto;
  overflow-y: hidden;

  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-sizing: border-box;
}

.crm-table {
  width: max-content;
  min-width: 1200px;
  height: 100%;
  table-layout: auto; 
  border-collapse: collapse;
}

.crm-table th,
.crm-table td {
  padding: 14px 20px;
  white-space: nowrap;
  min-width: 150px;
}

.crm-table tbody tr {
  transition: all 0.2s ease;
}

.crm-table tbody tr:hover {
  background: #f8fafc;
}

.status-badge-container {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 6px;
  font-weight: 500;
}

.status-select-dropdown {
  background: transparent;
  border: none;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  padding-right: 4px;
}

.status-badge-container.new { background-color: #eff6ff; color: #2563eb; }
.status-badge-container.contacted { background-color: #fef3c7; color: #d97706; }
.status-badge-container.qualified { background-color: #ecfdf5; color: #059669; }
.status-badge-container.lost { background-color: #fef2f2; color: #dc2626; }

/* Action Column */
.action-wrapper {
  position: relative;
  display: inline-block;
}

.menu-btn {
  width: 36px;
  height: 36px;
  border: none;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.2s ease;
}

.menu-btn:hover {
  background: #e2e8f0;
}

.dropdown-menu {
  position: absolute;
  top: -12%;
  left: 100%;

  width: 80px;

  display: flex;
  flex-direction: column;

  background: white;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  overflow: hidden;
  z-index: 9999;
}

.dropdown-menu button {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.dropdown-menu button:hover {
  background: #f8fafc;
}

.dropdown-menu button:last-child {
  color: #dc2626;
}

.no-data {
  text-align: center;
  padding: 40px;
  color: #94a3b8;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .crm-table {
    min-width: 700px;
  }
}


.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.pagination button:disabled {
  background: #cbd5e1;
  cursor: not-allowed;
}